
*{
    margin: 0;
    padding: 0;
}
    
/*h1 font*/

h1{
    text-align: center;
    font-family: "Dangrek", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo{
    margin-left: 15px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: saddlebrown;
}
    .nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.nav-links li{
    display: inline;
}

.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    transition:color 0.3s ease;
    }

.nav-links a:hoover{
    color: #e6e610;
    border-radius: 5px;
}

/*Sumary*/
.hr1{
    border: solid 2px black;

}

.Sumary{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.8rem;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

/* TESTE saber qual a div*/
.teste{
    background-color: red;

}

    /*Etiquetas da pasta*/
#tag1{
    background-color: aqua;
    padding: 10px;
    border-radius: 5px 5px;
    margin: 5px;
    text-decoration: none;
    color: inherit;
}

#tag2{
    background-color: rgb(218, 141, 0);
    padding: 10px;
    border-radius: 5px 5px;
    margin: 5px;
    text-decoration: none;
    color: inherit;
}

#tag3{
    background-color: rgb(200, 255, 0);
    padding: 10px;
    border-radius: 5px 5px;
    margin: 5px;
    text-decoration: none;
    color: inherit;
}
    
    #tag4{
    background-color: rgb(0, 255, 34);
    padding: 10px;
    border-radius: 5px 5px;
    margin: 5px;
    text-decoration: none;
    color: inherit;
}

#tag5{
    background-color: rgb(105, 18, 29);
    padding: 10px;
    border-radius: 5px 5px;
    margin: 5px;
    text-decoration: none;
    color: inherit;
    }
    
    #tag6{
    background-color: rgb(255, 0, 242);
    padding: 10px;
    border-radius: 5px 5px;
    margin: 5px;
    text-decoration: none;
    color: inherit;
    }

/* Cor dentro das divs referentes a cada etiqueta*/
#A1{
    background-color: aqua;}
#A2{
    background-color: rgb(218, 141, 0);}
#A3{
    background-color: rgb(200, 255, 0);}
#A4{
    background-color: rgb(0, 255, 34);}
#A5{
    background-color: rgb(105, 18, 29);}
#A6{
    background-color: rgb(255, 0, 242);}

/*Div principal*/

.container{
text-align: center;
margin-left: 25%;
padding: 20px;
}

.container-slide li{
  list-style: none;
    }

.container img{
    width: 80%;
   
}

/* Td fechado pra abrir ao clicar*/
.container-slide {
    display: none !important;
}

.container-slide.active {
    display: block !important;
}

/* Tópico 1 oq é toxoplasmose?*/

.desc{
    background-color: aquamarine;
    text-align: center;
    font: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 50%;
    margin: 1% 1% 1% 25%;

}

#carouselExampleCaptions{
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.btn.btn-primary{
    background-color: rgb(55, 13, 170);
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    width:50%;
    text-align: center;
    display: flex;

}

footer{
    background-color: saddlebrown;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin-top:5px;
}

