html{
    margin: 10 px;
    padding: 10 px;
}

h1{
    text-align: center;
}

#formulario {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #70b6c2;
    border-radius: 5px;
    background-color: #cbeff5;

}


#idButton {
    background-color: #70b6c2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#idButton:hover {
    background-color: #559aa5;
}































